
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');

  /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

}

.contact-manager{
    width: 350px;
    height: 550px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.contact-manager::before{
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    content: "";
    width: 100%;
    height: 93%;
    background-color: white;
    z-index: -1;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.2);
}
.contact-manager::after{
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    content: "";
    width: 100%;
    height: 93%;
    background-color: white;
    z-index: -1;
    border-radius: 10px;
}

.contact-header{
    text-align: center;
}

.contact-logo{
    color: aquamarine;
    padding: 20px;
}

.contact-heading{
    font-size: 20px;
    letter-spacing: 5px;
}

.contact-form{
    padding: 10px 20px;
    margin-top: 10px;text-align: center;
}
.contact-form input{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 20px;
    background-color: aquamarine;
    border: none;
    border-radius: 20px;
}

.contact-form button[type="submit"]{
    background-color: #fff;
    border: 5 px solid aquamarine;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 10px;
    transition: 1s all;
}
.contact-form button:hover{
    background-color: rgba(127, 255, 212, 0.788);
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 5px rgba(127, 255, 212, 0.541);
}

.contact-body{
    padding: 10px 20px;
    overflow-y: scroll;
    width: 100%;
    height: 180px;
}

.contact-body .contact-iteams{
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.contact-iteams .contact-iteam-info{
    margin-left: 30px;
    margin-right: auto;

}

.contact-iteams:hover{
    background-color: rgba(127, 255, 212, 0.336);
}

.footer{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.562);
}

.contact-iteams .fa-times-circle{
    cursor: pointer;
}


